/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2016, 4:17:33 PM
    Author     : Diego
*/

/* CUSTOM CSS DIEGO DA SILVA */
.items-page {
    line-height: 34px;
    margin-right: 20px;
}

.row-action{ margin-top: 10px;}
.row-disable{ color: #ccc}

.tasks-menu
, .notifications-menu
, .messages-menu 
, .sidebar-menu .header
{ display:none !important;}

.required label:after {
  content:"*";
  color:red;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #cccccc !important;
    border-radius: 0px !important;
    height: 34px !important;
    padding: 6px 12px !important;
}
.form-group { position: relative;}
.btn-quick-add{ position: absolute; top:0; right:0 ; }

.proceso-auditado-busqueda-ayuda {padding:10px background-color:#eeeeee;}
.proceso-auditado-busqueda-ayuda h3 { margin-top:0px;}

.form-100 { width:100px !important; display: inline-block; margin-right: 4px;}
label.form-100, label.width-100 { width:100% !important}

.width-468 { width:468px !important; display: inline-block; margin-right: 4px;}
.width-100 { width:100px !important; display: inline-block; margin-right: 4px;}

.two-lines { height:60px !important; }

.linespace-bottom {margin-bottom: 10px;}
.navbar-fixed-top, .navbar-fixed-bottom {
    /*position: fixed;*/
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.planilla_seguimiento { overflow: auto; margin:0 4px 10px 4px; }


.planilla_seguimiento_id_proceso_auditado { width: 100px; }
.planilla_seguimiento_nomenclatura { width: 100px; }
.planilla_seguimiento_ano { width: 100px; }
.planilla_seguimiento_area_auditada { width: 100px; }
.planilla_seguimiento_numero_informe { width: 100px; }
.planilla_seguimiento_fecha { width: 100px; }
.planilla_seguimiento_nombre_proceso_auditado { width: 100px; }
.planilla_seguimiento_nombre_hallazgo { width: 100px; }
.planilla_seguimiento_recomendacion { width: 100px; }
.planilla_seguimiento_responsable { width: 100px; }
.planilla_seguimiento_criticidad { width: 100px; }
.planilla_seguimiento_nombre_compromiso { width: 100px; }
.planilla_seguimiento_plazo_estimado { width: 100px; }
.planilla_seguimiento_plazo_comprometido { width: 100px; }
.planilla_seguimiento_diferencia_tiempo { width: 100px; }
.planilla_seguimiento_porcentaje_avance { width: 100px; }
.planilla_seguimiento_condicion { width: 100px; }
.planilla_seguimiento_estado { width: 100px; }
.planilla_seguimiento_descripcion { width: 100px; }
.planilla_seguimiento_observacion { width: 100px; }

.planilla_seguimiento table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

.planilla_seguimiento th, .planilla_seguimiento td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}
